<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
 
    <title>AngularJS & Firebase Web App</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    
 
</head>
 
<body>
   <div class="container m-b-xl">
        <div class="page-header blue-text">
            <h1><b>Skills For Jobs</b></h1>
            <h4>AJOFM Cluj</h4>
        </div>
        <div class="row">
            <div class="col-lg-6">
                 <section ng-controller="FinalCtrl">
                    <p class="lead p-b-sm">Vizualizare extrageri finale</p>
                    <div class="form-group">
                        <label for="sel1">Selecteaza judet:</label>
                        <select class="form-control" id="sel1" ng-model="search.judet"  ng-options="item for item in judete">
                            <option value="{{item}}">{{item}}</option>
                        </select>
                    </div> 


                    <div class="row" ng-controller="LoginCtrl">
                        <div class="col-lg-12">   
                            <button type="button" ng-if="authenticationData" ng-click="ShowAllFinalists()"class="btn btn-primary" ng-csv="finalisti" csv-header="ListareFinalisti()" filename="total.csv">Export total</button>
                             <button type="button" class="btn btn-primary" ng-if="authenticationData" ng-csv="listAllFinalists" csv-header="ListareFinalisti()" filename="test.csv">Export </button>
                            <button  type="button" class="btn btn-primary" ng-click="ShowFinalists()">Vizualizeaza</button>
                        </div>    
                    </div>  

                    <div class="list-group m-t-md" id="filterJResults"  ng-repeat="item in listAllFinalists | orderBy:'-'">
                        <a href="#" class="list-group-item active">
                            <h3 class="list-group-item-heading">{{item.premiul}}</h3>
                            <h4 class="list-group-item-heading">{{item.nume}}</h4>
                            <h5 class="list-group-item-heading">{{item.scoala}}</h5>
                        </a>
                    </div>
                </section>
                <section class="m-t-md" ng-controller="MainCtrl">
                    <p class="lead p-b-sm">Vizualizare extrageri</p>
                    <div class="form-group">
                        <label for="sel1">Selecteaza judet:</label>
                        <select class="form-control" id="sel1" ng-model="search.judet"  ng-options="item for item in judete">
                            <option value="{{item}}">{{item}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1">Select scoala:</label>
                        <select class="form-control" id="sel1" ng-model="search.scoala" ng-options="scoala for scoala in scoli" >
                            <option value="{{scoala}}">{{scoala}}</option>     
                        </select>
                    </div>
                    <div class="row" ng-controller="LoginCtrl">
                        <div class="col-lg-12">   
                            <button type="button" ng-if="authenticationData" ng-click="ShowAllWinners()"class="btn btn-primary" ng-csv="castigatori" csv-header="getHeaderCastigatori()" filename="total.csv">Export total</button>
                             <button type="button" class="btn btn-primary" ng-if="authenticationData" ng-csv="listAllWinners" csv-header="getHeaderCastigatori()" filename="test.csv">Export </button>
                            <button  type="button" class="btn btn-primary" ng-click="ShowWinners()">Vizualizeaza</button>
                        </div>    
                    </div> 

                     <div class="list-group m-t-md" id="filterJResults"  ng-repeat="item in listAllWinners | orderBy:'-'">
                        <a href="#" class="list-group-item active">
                            <h3 class="list-group-item-heading">{{item.premiu}}</h3>
                            <h4 class="list-group-item-heading">{{item.nume}}</h4>
                        </a>
                    </div>
                </section> 
            </div>


            <div class="col-lg-6">
                <img class="full-stretch" src="assets/img/copii.png" alt="ajofm">
            </div>    
        </div>         
    </div>             

</body>
 
</html>

