/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.m-b-xl {
  margin-bottom:60px;
}

.m-b-sm {
  margin-bottom:20px;
}

.m-t-md {
  margin-top:40px;
}


.p-b-sm {
  padding-bottom:20px;
}

.p-sm {
  padding: 20px;
 }

.border-b-sm {
  border-bottom: 1px solid #eee;
}
