<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>AngularJS & Firebase Web App</title>
 
    
    
</head>
 
<body>
    <div class="container m-b-xl" ng-controller="MainCtrl" >
        <div class="page-header blue-text">
            <h1><b>Skills For Jobs</b></h1>
            <h4>AJOFM Cluj</h4>

        </div>
        <div class="row">
            <div class="form-group col-lg-6 col-md-12">
                <label for="sel1">Selecteaza judet:</label>
                <select class="form-control" id="sel1" ng-model="search.judet"  ng-options="item for item in judete">
                    <option value="{{item}}">{{item}}</option>
                </select>
            </div>

            <div class="form-group  col-lg-6 col-md-12">
                <label for="sel1">Select scoala:</label>
                <select class="form-control" id="sel1" ng-model="search.scoala" ng-options="scoala for scoala in scoli" >
                    <option value="{{scoala}}">{{scoala}}</option>     
                </select>
            </div>
        </div>
        <div ng-if ="!accesExtragere">
            <div class="row">
                <div class="col-lg-12">
                     <button type="button" class="btn btn-primary" ng-click="validareElevi()">Afisare</button>
                    <button type="button" class="btn btn-primary"  ng-if="accesValidare" ng-click="startExport()" ng-csv="eleviPerScoala" csv-header="getHeader()" filename="elevi.csv">Export</button>
                    <button type="button" class="btn btn-primary" ng-if="startExportare" ng-click="startExtragere()">Validare</button>
                </div>
            </div>
           
            <div class="row">    
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="list-group m-t-md" id="filterJResults"  ng-repeat="item in eleviPerScoala ">
                        <div class="list-group-item active">
                            <h4 class="list-group-item-heading">{{item.nume}}</h4>
                            <p> Clasa: {{item.clasa}} -a </p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div ng-if ="accesExtragere">
            <div class="row" >
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary" ng-click="filterIt(search.scoala)">Extrage</button>
                    <button type="button" class="btn btn-primary" ng-csv="winnersData" csv-header="getHeader()" filename="test.csv">Exporta</button>
                   <!--  <button type="button" ng-click="ShowAllWinners()"class="btn btn-primary" ng-csv="castigatori" csv-header="getHeaderCastigatoriTotal()" filename="test.csv">Export total</button> -->
                </div>
            </div>
            <div ng-show="afisaj==false" class="row">
                <div class="col-lg-8 col-lg-offset-2 p-sm">
                    <div growl></div>
                </div>    
            </div>
        
            <div class="row">    
                <div  ng-show="afisaj" class="col-lg-8 col-lg-offset-2  m-t-md" >
                    <div class="list-group m-t-md">
                        <div class="list-group-item active">
                            <h4 id='afisare1' class="list-group-item-heading"></h4> 
                        </div>
                    </div>
                     <div class="list-group m-t-md"> 
                        <div class="list-group-item active">
                            <h4 id='afisare2' class="list-group-item-heading"></h4> 
                        </div>
                    </div>
                    <div class="list-group  m-t-md">     
                        <div class="list-group-item active">
                            <h4 id='afisare3' class="list-group-item-heading"></h4>
                        </div>
                    </div>   
                </div>
            
                <div ng-show="afisaj==false" class="col-lg-8 col-lg-offset-2">
                    <div class="list-group m-t-md item"  ng-repeat="item in winnersData">
                        <div class="list-group-item active" ng-class="{red: item.idOrd===1, orange: item.idOrd===2, yellow:item.idOrd===3}">
                            <h4 class="list-group-item-heading">{{item.idOrd}} . {{item.nume}}  {{item.premiu}}</h4> 
                        </div>
                    </div>
                </div>
               <audio  ng-if="afisaj" loop='true'  autoplay="true" src="assets/ball.mp3">
            </div>
        </div>    
    </div>
</body> 
</html>