<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
 
    <title>AngularJS & Firebase Web App</title>
 
    
    
</head>
 
<body>
    <div class="container m-b-xl" ng-controller="MainCtrl" >
        <div class="page-header">
            <h1>Skills For Jobs</h1>
        </div>
        <div class="row">
            <div class="form-group col-lg-6 col-md-12">
                <label for="sel1">Selecteaza judet:</label>
                <select class="form-control" id="sel1" ng-model="search.judet"  ng-options="item for item in judete">
                    <option value="{{item}}">{{item}}</option>
                </select>
            </div>

            <div class="form-group  col-lg-6 col-md-12">
                <label for="sel1">Select scoala:</label>
                <select class="form-control" id="sel1" ng-model="search.scoala" ng-options="scoala for scoala in scoli" >
                    <option value="{{scoala}}">{{scoala}}</option>     
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-primary" ng-click="filterIt(search.scoala)">Extrage</button>
                <button type="button" class="btn btn-primary" ng-csv="winnersData" csv-header="getHeader()" filename="test.csv">Exporta</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 p-sm">
                <div growl></div>
            </div>    
        </div>
        
        <div class="row">    
            <div class="col-lg-8 col-lg-offset-2 p-sm"><img src="assets/img/random.gif" alt="Smiley face" height="80" width="718" ng-show="loading">
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <div class="list-group m-t-md item" id="filterJResults"  ng-repeat="item in winnersData ">
                    <div class="list-group-item active">
                        <h4 class="list-group-item-heading" ng-class="{test: item.idOrd ===1, test2: item.idOrd === 2, test3: item.idOrd === 3}">{{item.idOrd}} . {{item.nume}}</h4> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</body> 
</html>